@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');

/*
#623CEA Major Blue
#54426B Purple
#E7DFC6 Pearl
#E9F1F7 White
#rgb(14, 10, 10) black

Heading: 'Kanit', 'Lato', 'sans-serif'
Paragraph: 'Montserrat', 'sans-serif'
*/

:root {
    --light-text-color: #E9F1F7;
    --dark-text-color: #54426B;
    --paragraph-text-color: #623CEA;
    --border: black;
    --border-radius: 5px;
    --margin-top: .3rem;
    --label-color: black;
    --placeholder-text-color: #ddd;
    --form-background-color: #eee;
}

html {
    font-size: 16px;
    color: #54426B;
    background-color: #E7DFC6;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #623CEA;
    font-family: 'Kanit', 'Lato', 'sans-serif';
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

header p {
    font-size: 1rem;
}

#join {
    align-self: center;
    height: 1.2rem;
    color: #E9F1F7;
    background-color: #54426B;
    border: 2px solid rgb(14, 10, 10);
    text-decoration: none;
    padding: 0.2rem;
}

/* Menu and Nav */

#menu {
	display: block;
	font-size: 2rem;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #E9F1F7;
	color: rgb(14, 10, 10);
    margin: 0;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(14, 10, 10);
    margin: 0;
}

.navigation {
	list-style: none;
}

nav ul {
    padding-left: 0;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #E9F1F7;
	transition: 0.5s;
}

.navigation a:hover {
	background-color: #E9F1F7;
	color: rgb(14, 10, 10);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "-";
}

nav a {
    color: #E9F1F7;
    display: block;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

/* Main */

main section, #hero-label {
    margin: 0 2rem;
}

main img {
    height: 100px;
    width: auto;
}

h1, h2 {
    text-align: center;
}

/* Hero */

#hero-img {
    width: 100%;
    height: auto;
    margin-top: -1rem;
}

.button {
    text-align: center;
    margin: 0 auto;
    color: #E9F1F7;
    background-color: #54426B;
    border: 2px solid rgb(14, 10, 10);
    text-decoration: none;
}

/* Space Between */

#title, #current-events, #weather, #company-spotlight {
    margin-top: 4rem;
}

/* Current Event */

#current-events {
    text-align: center;
}

#current-events img {
    display: block;
    margin: 1rem auto;
    width: 300px;
    height: auto;
}

#current-events div {
    margin-bottom: 3rem;
}

/* Weather */


/* Company Spotlight */

#company-spotlight {
    text-align: center;
}

#company-spotlight img {
    display: block;
    margin: 1rem auto;
    width: 300px;
    height: auto;
}

#company-spotlight div {
    margin-bottom: 3rem;
}

/* Footer */

footer {
    text-align: center;
    background-color: #54426B;
    color: #E7DFC6;
    padding: 0.5rem;
}





/* Discover Page */

#visit-message {
    margin-bottom: -.5rem;
    border: 3px solid #54426B;
    border-radius: 8px;
    background-color: #E9F1F7;
    padding: 5%;
}

.discover {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.discover img {
    width: 90%;
    height: auto;
    display: block;
    margin: 2rem auto 1rem auto;
}

.discover p {
    margin: 2rem;
}

.discover figcaption {
    text-align: center;
    font-size: 0.6rem;
    margin-top: -.5rem;
}



/* Join */



.form {
    margin: 1rem;
}

.form fieldset {
    margin: 2.5rem 0;
    padding: 0 4%;
    border: 1px solid var(--dark-text-color);
    border-radius: 6px;
    padding: .5rem 2%;
    color: #54426B;
}

.form label {
    display: block;
    margin: 1rem auto;
    margin-left: .8rem
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form select,
.form textarea
{
    display: block;
    width: 100%;
    max-width: 400px;
    height: 44px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    padding-left: 2%;
    background-color: var(--form-background-color);
    color: black;
}

.form textarea {
    height: 130px;
    padding: 1%;
}

.form label:last-child {
    margin-top: 2rem;
}

.form input:required {
    border-left: solid 6px red;
}

.form input:required:valid {
    border-left: solid 6px green;
}

input[type="submit"] {
    margin: -2rem auto 2rem auto;
    height: 44px;
    width: 100%;
    border: none;
    background-image: linear-gradient(#766193, #54426B);
    color: var(--light-text-color);
    border-radius: 6px;
    box-shadow: 1px 1px 4px grey;
}