@media (min-width: 640px) {
    html {
        font-size: 25px;
    }

    header p {
        font-size: 45px;
    }

    /**/

    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	#menu {
		display: none;
	}

    main section {
        margin: 2rem 4rem;
    }

    /* Banner */

    /* Hero Section */

    #hero-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }
    
    #hero-img {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: auto;
    }

    #hero-label {
        padding: 0;
        text-align: left;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 26px;
    }

    /* Title */

    #title h2, #title p {
        text-align: center;
    }

    /* Current Events */

    #current-events {
        display: grid; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 25px;
    }

    #current-events h2 {
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
    }

    #current-events div {
        grid-row: 2/3;
        font-size: 0.8rem;
    }

    #current-events img {
        height: 175px;
    }

    #current-events h3, #current-events p {
        margin: 1rem;
    }

    /* Weather */

    #weather {
        display: grid; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 25px;
    }

    #weather h2 {
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
    }

    #weather div {
        grid-row: 2/3;
    }

    #weather h3 {
        text-align: center;
    }

    /* Company Spotlight */
    #company-spotlight {
        display: grid; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 25px;
    }

    #company-spotlight h2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #company-spotlight div {
        grid-row: 2/3;
    }

    #company-spoltight h3, #company-spoltight p {
        margin: 1rem;
    }

    #spotlight-1-other, #spotlight-2-other, #spotlight-3-other {
        font-size: 0.7rem;
        margin: 1rem;
    }


    /* Discover */
    .discover {
        margin: 2rem 2rem 2rem 2rem;
    }

    .discover div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }

    .discover div h2, .discover div p {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .discover div h2 {
        margin-left: 0;
        padding: 1.5rem 1rem 0 2rem;
        text-align: left;
    }

    .discover div p {
        padding-top: 3rem;
        font-size: .9rem;
    }

    .discover div figure {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .discover figcaption {
        text-align: center;
        font-size: 0.5rem;
    }

    .discover div img:hover {
        opacity: 75%;
        box-shadow: 0 0 50px black;
    }    

    /* Join */

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0 3rem 2rem 4rem;
    }

    .form section {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .form form {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* Directory */
    
    .directory-menu {
        margin: 1rem 4rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #E7DFC6;
        text-align: center;
    }

    .grid {
        display: grid;
	    grid-template-columns: 3fr;
	    grid-gap: 15px;
	    align-items: center;
    }

    .grid article {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #eee;
        text-align: center;
    }
}