:root {
    --border: black;
    --border-radius: 5px;
    --margin-top: .3rem;
    --label-color: black;
    --placeholder-text-color: #ddd;
    --form-background-color: #eee;
}

main {
    padding: 0 2%;
}

.form fieldset {
    margin: 2.5rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    color: #2E4052;
}

.form label {
    display: block;
    margin: 1rem auto;
    margin-left: .8rem
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"]
{
    display: block;
    width: 90%;
    max-width: 400px;
    height: 44px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    background-color: var(--form-background-color);
    appearance: none;
}

.form label:last-child {
    margin-top: 2rem;
}

#rangeValue {
    margin-left: 2rem;
    margin: 1rem;
}

.form input:required {
    border-left: solid 6px red;
}

.form input:required:valid {
    border-left: solid 6px green;
}

input[type="submit"] {
    margin: 0 auto 2.5rem 0;
    height: 44px;
    width: 100%;
    border: none;
    background-image: linear-gradient(#ffdc97, #FFC857);
    color: #2E4052;
    border-radius: 6px;
    box-shadow: 1px 1px 4px grey;
}